@charset "UTF-8";

.container {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@media (min-width: 1025px) {
  .nav {
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
  }
}

.menuactive {
  font-weight: 700;
  border-bottom: 4px solid #00a862;
}

/* 头部的字体 */
.header {
  height: 48px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  padding: 24px;
  position: relative;
}

.logo,
.account,
.stores,
.menu {
  float: left;
  font-size: 1.6rem;
  font-size: 16px;
}

.logo {
  margin-right: 12px;
  width: 36px;
}

.homeactive,
.homeclose {
  height: 100%;
  width: 100%;
}

.hamburgertoogle {
  background: url(../icons/icon-hamburger.svg) no-repeat center center;
}

.hamburgerclose {
  background: url(../icons/icon-close.svg) no-repeat center center;
}

.hamburger {
  box-sizing: inherit;
  color: transparent;
  display: block;
  float: right;
  height: 48px;
  opacity: 0.8;
  overflow: hidden;
  padding: 0;
  margin: -12px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  width: 48px;
}

/* 账号登入 */
.body {
  height: calc(100% - 64px);
  display: table;
  width: 100%;
}

.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  width: 100%;
  height: 100%;
}

.account-entry {
  display: table-cell;
  vertical-align: middle;
  padding: 0 24px 0 84px;
}

.tabs-wrapper {
  padding-left: 2px;
}

.tabs-wrapper li {
  font-size: 16px;
  margin-bottom: 2px;
  padding-bottom: 1px;
}

.tabs-wrapper li a {
  padding-bottom: 1px;
  margin-bottom: 6px;
  padding: 4px 0;
}

.footer {
  vertical-align: middle;
}

/* 登入按钮 */
.sign-smile,
.logon-smile {
  background: none;
  border: 1px solid #00a862;
  border-radius: 48px;
  box-sizing: border-box;
  color: #00a862;
  display: inline-block;
  font-weight: 500;
  outline: none;
  overflow: hidden;
  padding: 6px 18px;
  position: relative;
}

/* 视图右边的 */
.content {
  left: auto;
  margin-left: 30%;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 70%;
  position: relative;
}

/* 广告字样 */
.tag_ad {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 6px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 180%;
  opacity: 0.6;
  border-radius: 2px;
  z-index: 200;
}
